/* Helpful site for font-sizing 
   https://stackoverflow.com/questions/11777598/font-size-relative-to-the-users-screen-resolution
   % is based off 12 pt font
   vw and vh stand for viewport width and viewport height, and scale with window size  
*/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  overflow: hidden;
}

header {
  color: #fff;
  background-color: #000000;
  padding: 1.5% 0 1.5% 1%;
}

header h1 {
  font-size: 5vh;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  margin-left: 1%;
  vertical-align: middle;
}

h1 {
  font-size: 200%;
  margin-top: 0;
}

h2 {
  font-size: 2.5vw;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

h3 {
  font-size: 100%;
  font-weight: 100;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0 0 1% 0;
  vertical-align: middle;
}

.container {
  display: flex;
  margin: 0 auto;
  padding-top: 1.5%;
}

.homeGraph {
  width: 100%;
  height: 65vh;
}

.small-container {
  display: inline-flex;
  margin-top: .5%;
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.display-count {
  border-radius: 2px;
  border-top: 3px solid #000000;
  margin-right: 5%;
  background-color: rgb(237, 237, 237);
  padding: 5vh 1vw;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 5%;  
  width: 20vw;
  height: 100%;
  margin-right: auto;
}

.display-meal {
  border-top: 3px solid #000000;
  background-color: rgb(237, 237, 237);
  padding: 6% 3%;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  height: 10%;
  margin-left: 5%;
}

.display-about {
  border-radius: 2px;
  border-top: 3px solid #000000;
  background-color: rgb(237, 237, 237);
  padding: 2% 1.5%;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-top: 1.5%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  width: calc(100%);
  list-style-type: none;
  color: #000;
}


.button-Bar {
  width: 100%;
  height: 0%;
}

/* Different spacing for different button types */
day {
  margin-right: 2%;
}

breakfast {
  margin-left: 14%;
}

lunch {
  margin-left: 16%;
}

dinner {
  margin-left: 16%;
}


li h3 {
  background-color: #000000;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

button {
  width: 12%;
  height: 4%;
  background-color: rgb(225, 225, 2);
  cursor: pointer;
  border: 0;
  color: #000;
  font-size: 1.5vh;
  font-weight: bold;
  padding: 1% 0;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.14), 1px 10px 10px -2px rgba(0,0,0,.12), 2px 1px 1px 0 rgba(0,0,0,.2);
  /* Prevent button resizing on smaller screens and cut off text */
  white-space: nowrap;
  overflow: hidden;
}

.thinText {
  font-weight: lighter;
}

.meal {
  margin-top: .25%;
  font-weight: lighter;
}

.selected {
  font-weight: lighter;
  background-color: rgb(0, 175, 0);
}

/* This is the invisible rectangle that is used to keep proper spacing */
rect {
  margin-left: 12%;
}